body {
    color: FFFFFF;
    background-color: #70CF51;
    text-align: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow: hidden;
    margin:0px; padding:0px;
    top: 50%;
}

startscreen, endscreen, life, bone, maggot, dog, zombie, clouds, graveyard, game {
    position: absolute;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    background-repeat: no-repeat;
}

game {
	background-image: url(skybox.png) ;
        width:100%; height: 100%;
    
}

graveyard {
    background-image: url(graveyard-stage-one.png);
    display: block;
    margin: 0;
    padding: 0;
    width: 20000px;
    height: 1000px;
}

clouds {
    background-image: url(clouds.png);
    width: 100%;
    height: 100%;;
    overflow: hidden; 
    background-repeat: repeat-x;
    animation: cloudsMove 40s linear infinite;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes cloudsMove{
    100% {
        background-position: 800px 0%;
    }
}

dog{
    background-image: url(dog.png);
    width:105px; 
    height: 110px;
    
}
dog.left{
        background-image:url(dog-left.png);
    }
    
zombie{
    background-image: url(zombi.png);
    width: 160px; height: 200px; 
}

logo {
    background-image: url(logo.svg);
    width: 70%; height: 70%;
    margin-left: 15%;
    margin-top: 5%;
    display: flex;
    background-repeat: no-repeat;
}

bone {
    background-image: url(https://github.com/1006554/1006554.github.io/blob/main/docs/css/bone.png);
    width: 50px; height: 50px;
}

maggot {
    background-image: url(maggot.png);
    width: 30px; height: 35px;

}

life {
    background-image: url(lives.png);
    width: 40px; height: 100px;
    margin-left: 10px;
    margin-top: 10px;
}

startscreen{
    width:100%; height: 100%;
  
    align-content: center;
}

endscreen{
    width:100%; height: 100%;
    padding: 20px;
    background-color: black;
    opacity: 70%;
}

button {
    align-self: center;
    padding: 20px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 20px;
    background-color: background-color: rgba(0,0,0,0.88)
}
